*{
    margin: 0%;
    padding: 0%;
}
.container{
    text-align: center;
    align-items: center;
    align-content:center;
    flex-direction: column;
    padding-top: 3%;
    font-family: Arial, Helvetica, sans-serif
}

.practica1{
    padding-top: 5px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.practica2{
    padding-top: 5px;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.practica3{
    padding-top: 5px;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}